---
import ProductsTable from "@/components/admin/products/ProductsTable.astro";
import AdminProductsLayout from "@/layouts/AdminProductsLayout.astro";
import { ProductsSchema } from "@/types";

const PRODUCTS_PER_PAGE = 10
const PAGE = Astro.url.searchParams.get('page') ?? "1"

const res = await fetch(`${import.meta.env.API_URL}/freshcoffee_products?per_page=${PRODUCTS_PER_PAGE}&page=${PAGE}`)

if(!res.ok) return Astro.redirect('/admin/products?page=1')

const data = await res.json()
const products = ProductsSchema.parse(data)

const totalPages = res.headers.get('X-WP-TotalPages')!
---

<AdminProductsLayout 
    title="Administrar Productos" 
    page={+PAGE} 
    totalPages={+totalPages}
>
    <div slot="before-products-table" class="mt-10">
        <a 
            href="/admin/products/new"
            class="bg-amber-400 hover:bg-amber-500 transition-colors px-5 py-2 rounded font-bold"
        >
            Nuevo Producto
        </a>
    </div>

    <ProductsTable products={products} />
</AdminProductsLayout>