---
import { actions } from "astro:actions"
import AuthLayout from "@/layouts/AuthLayout.astro";
import { isInputError } from "astro:actions";
import ErrorMessage from "@/components/ui/ErrorMessage.astro";
import { isActionError } from "astro:actions";

const result = Astro.getActionResult(actions.auth.signIn)
const inputErrors = isInputError(result?.error) ? result.error.fields : {}
const actionError = isActionError(result?.error) ? result.error.message : null

if(result?.data && !result.error) {
    return Astro.redirect('/admin')
}
---

<AuthLayout title="Iniciar Sesión">
    {actionError && <ErrorMessage>{actionError}</ErrorMessage>}
    <form 
        action={actions.auth.signIn} 
        method="POST" 
        class="space-y-6 mt-5 w-full" 
        novalidate
    >
        <div>
            <label
                for="username"
                class="block text-sm/6 font-medium text-gray-900"
                >Usuario:</label
            >
            <div class="mt-2">
                <input
                    type="text"
                    name="username"
                    id="username"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base
                     text-gray-900 outline-1 -outline-offset-1 outline-gray-300
                     placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2
                     focus:outline-amber-600 sm:text-sm/6"
                />
            </div>

            {inputErrors.username && (
                <ErrorMessage>{inputErrors.username}</ErrorMessage>
            )}
        </div>

        <div>
            <label
                for="password"
                class="block text-sm/6 font-medium text-gray-900"
                >Password</label
            >
            <div class="mt-2">
                <input
                    type="password"
                    name="password"
                    id="password"
                    class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-amber-600 sm:text-sm/6"
                />
            </div>

            {inputErrors.password && (
                <ErrorMessage>{inputErrors.password}</ErrorMessage>
            )}
        </div>

        <div>
            <button
                type="submit"
                class="flex w-full justify-center rounded-md bg-black px-3 p-2 font-bold text-lg text-white shadow-xs focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-600 cursor-pointer"
                >Iniciar Sesión</button
            >
        </div>
    </form>
</AuthLayout>
