---
import Layout from '@/layouts/Layout.astro'
import Logo from '@/assets/logo.svg'
---

<Layout title='Página No Encontrada'>
    <div class="mt-20 flex flex-col items-center gap-5">
        <Logo />

        <p class="text-xl font-bold">
            Tal vez quieras ir al 
            <a href="/" class="text-amber-400">Inicio</a>
        </p>
    </div>

</Layout>