---
import Layout from "@/layouts/Layout.astro";
import Logo from '@/assets/logo.svg'
import PickUpDisplay from "@/components/order/PickUpDisplay";

const title = 'Últimas Ordenes Listas'
---
<Layout title={title}>
    <main class="bg-amber-400 min-h-screen py-20">
        <div class="max-w-4xl mx-auto p-20 shadow bg-white rounded-2xl space-y-10 flex flex-col items-center">
            <h1 class="text-4xl font-black">{title}</h1>
            <Logo />

            <PickUpDisplay 
                client:only="react"
            />
        </div>
    </main>
</Layout>