---
import { ClientRouter } from 'astro:transitions'
import CategoriesSidebar from "@/components/categories/CategoriesSidebar.astro";
import Layout from "./Layout.astro";
import OrderDrawer from "@/components/order/OrderDrawer";
---
<ClientRouter />
<Layout title="Quiosco de Pedidos">
    <div class="md:flex">

        <CategoriesSidebar />
        <main class="md:flex-1 md:h-screen md:overflow-y-scroll p-5">
            <slot />
        </main>

        <OrderDrawer client:only="react" />
    </div>
</Layout>